@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.player-background-img-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
  filter: blur(50px) brightness(0.4);
  animation: spinScale 300s ease infinite;
  z-index: 1;
}

.player-background-img-light {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  object-fit: cover;
  filter: blur(8px);
  animation: spinScale 300s ease infinite;
  z-index: 1;
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(2);
  }

  50% {
    transform: rotate(180deg) scale(5);
  }

  100% {
    transform: rotate(360deg) scale(2);
  }
}
